{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<a href="{% url 'movies:index' %}"><input type="button" value="뒤로가기"></a>  
<h1>{{movie.original_title}}</h1>
<img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="">
<h3>줄거리</h3>
<hr>
<div>{{movie.overview}}</div>
<br>
<p>개봉일 : {{movie.release_date}}</p>
<p>평점 : {{movie.vote_average}}</p>
<p>total : {{total}}</p>
<p>평가한사람{{ movie.rate.rank }}</p>
<p>점수{{ movie.rate_set.rank.rank }}</p>
{% for genre in genres %}
<p>장르 : {{ genre }} </p>
{% endfor %}
{% for movie_name in movie_names %}
<p>예림이 {{movie_name.name}} 봐바</p>
{% endfor %}
{% for g in ge %}
    {{g}}
{% endfor %}

{% for rank in movie.rate_set.all %}
{% if request.user.id == rank.user_id %}
{{ rank.user}} : {{ rank.rank }}
<br>
{{ rank.user_id}}
{% endif %}
{% endfor %}
<br>
{{ gname }}

<hr>
{% if request.user_id not in rate %}
<form action="{% url 'movies:rank' movie.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button>별점입력</button>
</form>
{% else %}
    <a href="{% url 'movies:rank_cancle' movie.pk %}"><button>입력취소</button></a>

{% endif %}
<hr> 

<form action="" method="POST">
    {% csrf_token %}
    <button><a href="{% url 'movies:review_create' movie.pk %}">리뷰작성</a></button>
</form>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        {% for review in movie.review_set.all  %}
        <tr>
            <th scope="row">{{review.id}}</th>
            <td><a href="{% url 'movies:review_detail' movie.pk review.pk %}">{{review.title}}</a></td>
            <td>{{review.created_at}}</td>
            <td>{{review.user}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}