{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<a href="{% url 'movies:index' %}"><input type="button" value="뒤로가기"></a>  
<h1>{{movie.original_title}}</h1>
<img class="w-75"  src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="">
<h3>줄거리</h3>
<hr>
<div>{{movie.overview}}</div>
<br>
<p>개봉일 : {{movie.release_date}}</p>
<p>평점 : {{movie.vote_average}}</p>
<p>total : {{total}}</p>
{% for genre in genres %}
<p>장르 : {{ genre.name }} </p>
{% endfor %}

{% for movie_name in movie_names %}
<p>예림이 {{movie_name.title }} 봐바</p>
{% endfor %}
{% for g in ge %}
    {{g}}
{% endfor %}

<br>

{{user}}님의 점수 : {{ point }}
<div class="wrap-star">
    <h2>Width="30%"</h2>
    <div class='star-rating'>
        <span style="width:30%"></span>
    </div>
</div>
<br>


<hr>
<!-- 조건에 따라 등장 -->
{% if point == 0 %}
    <form action="{% url 'movies:rank' movie.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button>별점입력</button>
    </form>
{% else %}
    <a href="{% url 'movies:rank_cancle' movie.pk %}"><button>입력취소</button></a>
{% endif %}
<hr> 

<form action="" method="POST">
    {% csrf_token %}
    <button><a href="{% url 'movies:review_create' movie.pk %}">리뷰작성</a></button>
</form>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        {% for review in movie.review_set.all  %}
        <tr>
            <th scope="row">{{review.id}}</th>
            <td><a href="{% url 'movies:review_detail' movie.pk review.pk %}">{{review.title}}</a></td>
            <td>{{review.created_at}}</td>
            <td>{{review.user}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}